.ace-editor-container{
  position:relative;
  width: 100%;
  @include margin(0 auto);
  min-height: 50px;
  .ace-editor-inner{
    width: 100%;
  }
}

.editor-top-bar {
  @include margin(null null 15px null);
  .editor-note-title {
    display: inline-block;
    @include margin(0);
    max-width: 488px;
  }

  .btn.editor-new-block {
    @include margin(null null null 10px);
    float: right;
  }
}

.editor-actions {
  @include padding(10px);
  background: $light-gray;

  .btn {
    @include margin(null 10px null null);
    &:last-of-type {
      @include margin(0);
    }
  }
}