.app-container {
  @include position(absolute, 0 0 0 0);
}

.side-container {
  @include position(fixed, 0 null 0 0);
  width: 150px;
  background: $light-gray;
}

.right-container {
  @include position(absolute, 0 0 0 150px);
}

.topbar-container {
  @include position(relative);
  height: 98px;
  text-align: right;
  border-bottom: 4px solid $light-gray;
}

.main-container {
  @include padding($base-spacing / 2);
}