@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/roboto/Roboto-Regular-webfont.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url("fonts/roboto/Roboto-Bold-webfont.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  src: url("fonts/roboto/Roboto-Italic-webfont.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url("fonts/roboto/Roboto-Light-webfont.woff") format("woff");
}
